<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
    <listener class-name="retry.RetryListener"/>
</listeners>
    <test name="LoginTests">
        <classes>
            <class name="login.LoginTest"/>
        </classes>
    </test>
        <test name="DashboardTests">
        <classes>
            <class name="dashboard.DashboardTest"/>
        </classes>
    </test>
</suite>
